<!-- START list group-->
<div class="list-group">
    <!-- list item-->
    <a class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <em class="fa fa-twitter fa-2x text-info"></em>
            </div>
            <div class="media-box-body clearfix">
                <p class="m0">New followers</p>
                <p class="m0 text-muted">
                    <small>1 new follower</small>
                </p>
            </div>
        </div>
    </a>
    <!-- list item-->
    <a class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <em class="fa fa-envelope fa-2x text-warning"></em>
            </div>
            <div class="media-box-body clearfix">
                <p class="m0">New e-mails</p>
                <p class="m0 text-muted">
                    <small>You have 10 new emails</small>
                </p>
            </div>
        </div>
    </a>
    <!-- list item-->
    <a class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <em class="fa fa-tasks fa-2x text-success"></em>
            </div>
            <div class="media-box-body clearfix">
                <p class="m0">Pending Tasks</p>
                <p class="m0 text-muted">
                    <small>11 pending task</small>
                </p>
            </div>
        </div>
    </a>
    <!-- last list item-->
    <a class="list-group-item">
        <small translate="topbar.notification.MORE">More notifications</small>
        <span class="label label-danger pull-right">14</span>
    </a>
</div>