<div class="panel" *ngIf="inputTicket && inputTicket?.id != undefined">
    <tabset class="bg-white p0" [justified]="true">
        <tab>
            <ng-template tabHeading>
                <em class="fa fa-money fa-fw"></em>Detail
            </ng-template>
            <div style="padding-left:20px;margin:27px;">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">ID:</div>
                                <div class="col-md-9">{{inputTicket.id}}</div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-3">Summary:</div>
                                <div class="col-md-9">{{inputTicket.summary}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Description:</div>
                                <div class="col-md-9" style="word-wrap: break-word;">{{inputTicket.description}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Creator:</div>
                                <div class="col-md-9">{{inputTicket.creatorCustomerName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Assignee:</div>
                                <div class="col-md-9" *ngIf="inputTicket.assignee">{{inputTicket.assignee}}</div>
                                <div class="col-md-9" *ngIf="!inputTicket.assignee">Unassigned</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Priority:</div>
                                <div class="col-md-9">{{inputTicket.priority}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Due Date:</div>
                                <div class="col-md-9">{{inputTicket.dueDate}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Last Updated Time:</div>
                                <div class="col-md-9">{{inputTicket.lastUpdated}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Created Time:</div>
                                <div class="col-md-9">{{inputTicket.created}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Last Activity:</div>
                                <div class="col-md-9">{{inputTicket.lastActivity}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Status:</div>
                                <div class="col-md-9">{{inputTicket.status}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Category:</div>
                                <div class="col-md-9">{{inputTicket.category}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Progress:</div>
                                <div class="col-md-9">{{inputTicket.progress}}%</div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-12"><strong>Work Sheet</strong></div>
                                <div class="col-md-12" style="word-wrap: break-word;">{{inputTicket.workSheetBody}}</div>
                               
                                <img  class="img-responsive center-block" style="width:300px;" src="{{imageUrl}}">
                               
                            </div>
                        </div>
                    </div>
                    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
                </div>

            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <em class="fa fa-clock-o fa-fw"></em>Review
            </ng-template>
            <div>
                <br/>
                <br/>
                <review-component [id]="ticketId"></review-component>
            </div>
        </tab>
    </tabset>
</div>