<div class='panel panel-primary'>
    <div class='panel-heading' style="height:50px;">
        <div class='pull-left'>
            <h3 style="padding:0px;margin:0px;">{{pageTitle}}</h3>
        </div>
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table id="submittedTickets" class='table' *ngIf='tickets && tickets.length'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Summary</th>
                        <th>Assignee</th>
                        <th>Creator</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Last Updated</th>
                        <th>Status</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ticket of pagedItems'>
                        <td>
                            {{ticket.id}}
                        </td>
                        <td>
                            <a (click)="setSelectedTicket(ticket)">
                                {{ticket.summary}}
                            </a>
                        </td>
                        <td>
                            <div *ngIf="ticket.assignee">{{ ticket.assignee }}
                                <span *ngIf="!ticket.acceptStatus"> [Pending]</span>
                            </div>
                            <div *ngIf="!ticket.assignee">Unassigned</div>
                        </td>
                        <td>{{ ticket.creatorCustomerName }}</td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.dueDate | date:'shortDate'}}</td>
                        <td>{{ ticket.lastUpdated | date:'shortDate'}}</td>
                        <td>
                            <div class="label" [ngClass]="{'label-danger': ticket.status == 'Closed', 'label-success': ticket.status == 'Open', 'label-warning': ticket.status == 'Reopened'}">{{ ticket.status}}</div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': ticket.progress < 20,'progress-bar-warning': ticket.progress >= 30  && ticket.progress < 50, 'progress-bar-primary': ticket.progress >= 50  && ticket.progress <= 99 , 'progress-bar-success': ticket.progress == 100}"
                                    role="progressbar" aria-valuenow="ticket.progress" aria-valuemin="0" aria-valuemax="100"
                                    [style.width]="ticket.progress+'%'">
                                    {{ ticket.progress}}%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!tickets || tickets?.length <= 0">
                No search result(s) found!
            </div>
        </div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="display: flex;justify-content: center;">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>

<customerCase-detail [ticketId]="selectedTicketId"></customerCase-detail>