<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12 col-md-12 home-text">
                <h1 style="font-size: 45px;">How can we help you?</h1>
                <div id="searchCaseForm" name="searchCaseForm" class="form-group" [formGroup]="searchCaseForm">
                    <label for="inputName" class="col-sm-1 control-label"> </label>
                    <div class="col-sm-12" style="margin-top:54px;margin-bottom:36px;">
                        <div class="input-group">
                            <input class="form-control" formControlName="searchData" type="text" placeholder="Search Your Submitted Ticket or Case Here" />
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" (click)="evokeSearch()" [disabled]="checkIfUserIsGuest()">Search!</button>
                            </span>
                        </div>
                        <div class="input-group" style="padding-top:20px;">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#createNewCaseModal" [disabled]="checkIfUserIsGuest()"><span class="icon-plus"> New Case Ticket</span></button>
                            </span>
                        </div>
                        <br/>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12 col-md-12 home-text">
              <submitted-tickets [contentUpdated]="contentUpdated" (selectedId)="showDetail($event)"></submitted-tickets>
              <customerCase-detail [ticketId]="selectedTicketId"></customerCase-detail>
            </div>
        </div>
    </div>
</div>
<new-case (caseCreated)="afterCaseCreated()"></new-case>