<fieldset>
    <div id="reviewForm" name="reviewForm" class="form-group" [formGroup]="reviewForm" (submit)="savereview(reviewForm)">
        <label for="inputName" class="col-sm-1 control-label">  <img alt="Avatar" class="img-thumbnail img-square pull-right" src="assets/img/activity_avatar.png"></label>
        <div class="col-sm-11">
            <div class="input-group">
            <span class="input-group-addon" style="border:0px;padding:0px;">  
                <select style="width:160px;" class="form-control"
                id="satisfactionLvl" formControlName="satisfactionLvl">
                <option selected>Satisfaction Level</option>
                <option>Poor</option>
                <option>Ok</option>
                <option>Average</option>
                <option>Delightful</option>
                <option>Amazed</option>
                </select>
            </span> 
            <input type="description" formControlName="description" class="form-control" id="description" placeholder="Enter Your Review Here">
            </div>
        </div>
        <div class="pull-right" style="position:relative;min-height:1px;padding-top:15px;padding-right:15px;">
        <button class="btn btn-info" type="submit" *ngIf="!editreview" (click)="saveReview()">Submit</button>
        <button class="btn btn-danger" type="submit" *ngIf="editreview" (click)="editReview()">Edit</button>
        </div>
      </div> 
      <div class="col-sm-12">  
        <hr class="hr-1 no-margin-top no-margin-bottom">
     </div>
  <div class="col-sm-12"  *ngFor="let review of reviewList">            
   <div class="col-sm-12" >  
        <div class="row">
         <div class="col-sm-12" >  
                <!--div class="pull-right">  
                       <a (click)="editButtonClicked(review)" *ngIf="validateCommentPoster(review.postedUserName)">Edit </a> 
                       <span *ngIf="validateCommentPoster(review.reviewerName)"> | </span>
                       <a (click)="deleteButtonClicked(review)" *ngIf="validateCommentPoster(review.postedUserName)">Delete</a>
                </div-->
            <div class="col-sm-9" style="font-size: 20px;"><strong>{{review.reviewerName}}</strong></div>
            <div class="col-sm-3" style="font-size: 20px;">
                <span class="pull-right" *ngIf="review.rating == 1">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                <span class="pull-right" *ngIf="review.rating == 2">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                <span class="pull-right" *ngIf="review.rating == 3">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                <span class="pull-right" *ngIf="review.rating == 4">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                 <span class="pull-right" *ngIf="review.rating == 5">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                </span>
                
            </div>
            <div class="col-sm-12" style="font-size: 11px;color: gray;">Posted at: {{review.postedDateTime}}</div>
            <div class="col-sm-12" style="padding-top:3%">{{review.description}}</div>
            </div>
        </div>
        
     </div>    
     <div class="col-sm-12">  
            <hr class="hr-1 no-margin-top no-margin-bottom">
         </div>               
    </div>
    <div class="col-sm-12" style="text-align:center" *ngIf="!reviewList || reviewList?.length == 0">  
        There is no review for this ticket yet!
    </div>
</fieldset>