<div class='panel panel-primary'>
    <div class='panel-heading' style="height:50px;">
        <h3 style="padding:0px;margin:0px;">{{pageTitle}}</h3>
        
    </div>

   
    <div class='panel-body'>
           
       
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

       

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='employees && employees.length'>
                  
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Contact</th>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Email address</th>
                        <th>Work phone</th>
                        <th>Facebook</th>   
                        <th>Twitter</th>                                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let employee of employees'>
                        <td>
                            {{employee.id}}
                        </td>
                        <td><a>
                            {{employee.firstName + employee.lastName}}
                            </a>
                        </td>
                        
                        <td>{{employee.employeeDetail.profession}}</td>
                        <td>--</td>
                        <td>{{employee.email}}</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <!--td> 
                       
                            
                            <a type="button" class="btn btn-primary" *ngIf="isUserLoggedIn" data-toggle="modal" data-target="#editModal">Edit</a>
                        </td>
                        <td>
                                <a class="btn btn-danger" *ngIf="isUserLoggedIn">Delete</a>
                            </td-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
