<div class="jumbotron" style="background-color:#fff">
    <div class="row">
        <div class="col-lg-12 col-md-12 home-text">
            <div class="article">
                <div class="article-header">

                    <h1 class="title" style="font-size: 45px;">{{specArticle?.title}}</h1>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <img class="avatar" src="assets/img/activity_avatar.png"> by {{specArticle?.postedUserName}} on {{specArticle?.postedDate | date:'MM/dd/yyyy'}}
                            <div class="pull-right" *ngIf="checkArticleSubmitter(specArticle?.postedUserName)">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editArticleModal">
                                    <span class="icon-plus">  Copy and Edit </span>
                                </button>
                            </div>
                            <ul class="article-tags on-article">
 
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="article-content">
                    <div class="body" style="word-wrap: break-word;" [innerHTML]="specArticle?.body">

                    </div>
                    <div class="conclusion">
                        <h2 class="article-headings">Conclusion</h2>
                        <div class="body" [innerHTML]="specArticle?.conclusionBody">

                        </div>
                    </div>
                    <div class="reference">
                        <h2 class="article-headings">References</h2>
                        <ul class="references-list">
                            <li *ngFor="let reference of specArticle?.references">
                                <a target="_blank" rel="noreferrer noopener" href="{{reference.refLink}}">{{reference.refName}}</a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<edit-article [articleToBeEdited]="specArticle" (articleEdited)="articleEdited($event)"></edit-article>