<div id="editArticleModal" style="padding-top:50px;" class="modal fade" data-backdrop="false" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
          <h4 class="modal-title">Edit Article</h4>
        </div>
        <div class="modal-body">
          <div class='panel-body'>
            <div class='row'>
              <div class='col-lg-12'>
                <form [formGroup]="editArticleForm" class="form-horizontal" role="form">
                  <fieldset>
                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editArticleForm.get('title').touched || 
                                                  editArticleForm.get('title').dirty) &&
                                                  !editArticleForm.get('title').valid }">
                      <label class="col-md-3 control-label" for="titleId">Title</label>
  
                      <div class="col-md-9">
                        <input class="form-control" id="titleId" type="text" placeholder="Title (required)" formControlName="title" />
                        <span class="help-block" *ngIf="(editArticleForm.get('title').touched || 
                                                             editArticleForm.get('title').dirty) && 
                                                             editArticleForm.get('title').errors">
                          <span *ngIf="editArticleForm.get('title').errors.required">
                            Please enter the article's title.
                          </span>
                          <span *ngIf="editArticleForm.get('title').errors.maxlength">
                            The article's title length must not be longer than 55 characters.
                          </span>
                        </span>
                      </div>
                    </div>
  
                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editArticleForm.get('body').touched || 
                    editArticleForm.get('body').dirty) &&
                    !editArticleForm.get('body').valid }">
                      <label class="col-md-3 control-label" for="bodyId">Body</label>
  
                      <div class="col-md-9">
                        <!--textarea class="form-control animation-1" id="bodyId"  placeholder="Body (required)" style="resize:vertical;" rows="6" formControlName="body" id="body"></textarea-->
                        <editor id="bodyEditor" formControlName="body"></editor>
                        <span class="help-block" *ngIf="(editArticleForm.get('body').touched || 
                               editArticleForm.get('body').dirty) && 
                               editArticleForm.get('body').errors">
                          <span *ngIf="editArticleForm.get('body').errors.required">
                            Please enter the article's body.
                          </span>
                          <span *ngIf="editArticleForm.get('body').errors.minlength">
                            The article's body length must not shorter than 100 characters.
                          </span>
                        </span>
                      </div>
                    </div>
  
                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                      <div class="col-md-12 col-md-offset-3">
                        <span>
                          <button class="btn btn-primary" type="button" [disabled]="!references.valid" (click)="addReferences()">
                            Add Another Reference
                          </button>
                        </span>
                      </div>
                    </div>
  
                    <div formArrayName="references" *ngFor="let reference of references.controls; let i=index">
                      <div [formGroupName]="i">
                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                          <label class="col-md-3 control-label" attr.for="{{'referenceId' + i}}">Reference Name {{i+1}}</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" id="{{'referenceId' + i}}" placeholder="Reference Name" formControlName="refName">
                          </div>
                        </div>
                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                            <label class="col-md-3 control-label" attr.for="{{'referenceId' + i}}">Reference Link {{i+1}}</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" id="{{'referenceId' + i}}" placeholder="Reference Link" formControlName="refLink">
                            </div>
                          </div>
                      </div>
                    </div>
  
                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editArticleForm.get('conclusion').touched || 
                    editArticleForm.get('conclusion').dirty) &&
                    !editArticleForm.get('conclusion').valid }">
                      <label class="col-md-3 control-label" for="conclusionId">Conclusion</label>
                      <div class="col-md-9">
                        <!--textarea class="form-control animation-1" id="conclusionId"  placeholder="Conclusion (required)" style="resize:vertical;" rows="6" formControlName="conclusion" id="conclusion"></textarea-->
                        <editor id="conclusionEditor" formControlName="conclusion"></editor>
                        <span class="help-block" *ngIf="(editArticleForm.get('conclusion').touched || 
                               editArticleForm.get('conclusion').dirty) && 
                               editArticleForm.get('conclusion').errors">
                          <span *ngIf="editArticleForm.get('conclusion').errors.required">
                            Please enter the article's conclusion.
                          </span>
                          <span *ngIf="editArticleForm.get('conclusion').errors.minlength">
                            The article's conclusion length must not shorter than 50 characters.
                          </span>
                        </span>
                      </div>
                    </div>
  
                    <div class="form-group" style="padding-top:3px;padding-bottom:3px;">
                      <div class="col-md-4 col-md-offset-2">
                        <span>
                          <button class="btn btn-primary"  type="button" [disabled]="!editArticleForm.valid" (click)="editArticle()">
                            Edit Article
                          </button>
                        </span>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>