<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h1 style="font-size: 22px;line-height: 36px;margin:0px;">Knowledge Base</h1>
                    </div>
                    <div class="col-lg-2 col-md-2" style="padding-right:0px;">
                        <div class="pull-right">
                            <select class="form-control" d="filterOptions" style="height:31px;">
                                <option *ngFor="let fo of filterList">{{fo}}</option>
                            </select>
                        </div>
                    </div>



                    <div class="col-lg-2 col-md-2">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createArticleModal">
                                <span class="icon-plus"> New Article </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="searchArticleForm" name="searchArticleForm" class="form-group" [formGroup]="searchArticleForm">
                                <label for="inputName" class="col-sm-1 control-label"> </label>
                                <div class="col-sm-12" style="margin-top:54px;margin-bottom:36px;">
                                    <div class="input-group">
                                        <input class="form-control" formControlName="searchTitle" type="text" placeholder="Enter Search Term" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="button" (click)="evokeSearch()">Search!</button>
                                        </span>

                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let article of pagedItems">
            <div class="panel b" style="height: 250px;">
                <div class="panel-heading" style="padding-bottom:0px;">
                    <h3>
                        <a (click)="articleClick(article)">{{article.title}}</a>
                    </h3>
                </div>
                <div class="col-sm-12" style="font-size: 11px;color: gray;">Posted By:
                    <a>{{article.postedUserName}}</a>
                </div>
                <br/>
                <!--div class="panel-body"  [innerHTML]="summarizeData(article.body)">
                </div-->
            </div>
        </div>
       
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="display: flex;justify-content: center;">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>
<create-article (newArticleCreated)="newArticleCreated()"></create-article>