<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <h2 style="margin: 18px;">Search Results: </h2>   
            <div class="col-md-4" *ngFor="let article of pagedItems">
                <div class="panel b" style="height: 250px;">
                    <div class="panel-heading" style="padding-bottom:0px;">
                        <h3>
                            <a (click)="articleClick(article)">{{article.title}}</a>
                        </h3>
                    </div>
                    <div class="col-sm-12" style="font-size: 11px;color: gray;">Posted By:
                        <a>{{article.postedUserName}}</a>
                    </div>
                    <br/>
                    <div class="panel-body" [innerHTML]="summarizeData(article.body)">
                    </div>

                </div>
            </div>
        </div>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="display: flex;justify-content: center;">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>