<div class='panel panel-primary'>
    <div class='panel-heading' style="height:50px;">
        <div class='pull-left'>
            <h3 style="padding:0px;margin:0px;">{{pageTitle}}</h3>
        </div>
        <div class='pull-right' style="margin-bottom:0px;" *ngIf="isUserLoggedIn">
            <button type="button" style="padding-bottom:3px;" class="btn btn-default btn-sm" (click)="export()" *ngIf='tickets && tickets.length'>Export</button>
        </div>
    </div>


    <div class='panel-body'>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='table-responsive' *ngIf='tickets && tickets.length'>
            <table class='table'>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Summary</th>
                        <th>Assignee</th>
                        <th>Creator</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Last Updated</th>
                        <th>Status</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ticket of pagedItems'>
                        <td>
                            {{ticket.id}}
                        </td>
                        <td>
                            <a (click)="setSelectedTicket(ticket)">
                                {{ticket.summary}}
                            </a>
                        </td>
                        <td>
                            <div *ngIf="ticket.assignee">{{ ticket.assignee }}
                                <span *ngIf="!ticket.acceptStatus"> [Pending]</span>
                            </div>
                            <div *ngIf="!ticket.assignee">Unassigned</div>
                        </td>
                        <td>
                            <div *ngIf="ticket.creator">{{ ticket.creator }}</div>
                            <div *ngIf="ticket.creatorCustomerName">{{ ticket.creatorCustomerName }}</div>
                        </td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.dueDate | date:'shortDate'}}</td>
                        <td>{{ ticket.lastUpdated | date:'shortDate'}}</td>
                        <td>
                            <div class="label label-danger">{{ ticket.status}}</div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': ticket.progress < 20,'progress-bar-warning': ticket.progress >= 30  && ticket.progress < 50, 'progress-bar-primary': ticket.progress >= 50  && ticket.progress <= 99 , 'progress-bar-success': ticket.progress == 100}"
                                    role="progressbar" aria-valuenow="ticket.progress" aria-valuemin="0" aria-valuemax="100"
                                    [style.width]="ticket.progress+'%'">
                                    {{ ticket.progress}}%
                                </div>
                            </div>
                        </td>
                        <td>
                            <a type="button" class="btn btn-primary" *ngIf="isUserPrivileged" data-toggle="modal" data-target="#reopenModal" (click)="selectTicketToReopen(ticket)">Re-Open</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="display:none">
                <table id="closedTicketList" class='table'>

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Summary</th>
                            <th>Assignee</th>
                            <th>Creator</th>
                            <th>Priority</th>
                            <th>Created/Opened Date</th>
                            <th>Due</th>
                            <th>Last Updated</th>
                            <th>Status</th>
                            <th>Category</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor='let ticket of tickets'>
                            <td>
                                {{ticket.id}}
                            </td>
                            <td>
                                <a>
                                    {{ticket.summary}}
                                </a>
                            </td>
                            <td>
                                <div *ngIf="ticket.assignee">{{ ticket.assignee }}
                                    <span *ngIf="!ticket.acceptStatus"> [Pending]</span>
                                </div>
                                <div *ngIf="!ticket.assignee">Unassigned</div>
                            </td>
                            <td>
                                <div *ngIf="ticket.creator">{{ ticket.creator }}</div>
                                <div *ngIf="ticket.creatorCustomerName">{{ ticket.creatorCustomerName }}</div>
                            </td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.created | date:'shortDate'}}</td>
                            <td>{{ ticket.dueDate | date:'shortDate'}}</td>
                            <td>{{ ticket.lastUpdated | date:'shortDate'}}</td>
                            <td>{{ ticket.status}}</td>
                            <td>{{ ticket.category}}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar">
                                        {{ ticket.progress}}%
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf='tickets == undefined || tickets.length <= 0' style="text-align:center;">There aren't any closed tickets yet!</div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="display: flex;justify-content: center;">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>

<tickets-detail [ticket]="selectedTicket" [ticketDeleted]="ticketDeleted"></tickets-detail>

<reOpenTicket (ticketReopened)='reopenTicket($event)' [selectedTicket]="selectedTicket"></reOpenTicket>