<div id="closeTicketModal" style="padding-top:50px;" class="modal fade" data-backdrop="false" role="dialog">
    <div class="modal-dialog">

        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Close Ticket</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <form [formGroup]="closeTicketForm" class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="ticketId">Ticket ID</label>
                                    <input id="ticketId" placeholder="Ticket ID" formControlName="ticketId" class="form-control" type="text"  disabled/>
                                </div>
                                <div class="form-group">
                                    <label for="reasonForClosing">Reason for Closing</label>
                                    <input id="reasonForClosing" placeholder="Reason for Closing" formControlName="reasonForClosing" class="form-control" type="text" />
                                </div>
                                <button type="submit" (click)="closeTicket($event)" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>

                    
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
  
      </div>
    </div>