<div id="createModal" style="padding-top:50px;" class="modal fade" data-backdrop="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modalClosed()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Ticket</h4>
      </div>
      <div class="modal-body">

        <div class='panel-body'>
          <div class='row'>
            <div class='col-lg-12'>
              <form [formGroup]="createTicketForm" class="form-horizontal" role="form" novalidate="" (submit)="createTicket($event, createTicketForm.value)">
                <div class="form-group">
                  <label for="creator">Creator</label>
                  <input id="creator" placeholder="Creator Name" formControlName="creator" class="form-control" type="text" disabled/>
                 
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createTicketForm.get('summary').touched || 
                createTicketForm.get('summary').dirty) &&
                !createTicketForm.get('summary').valid }">
                  <label for="summary">Summary</label>
                  <input id="summary" placeholder="Summary" formControlName="summary" class="form-control" type="text" />
                  <span class="help-block" *ngIf="(createTicketForm.get('summary').touched || 
                  createTicketForm.get('summary').dirty) && 
                  createTicketForm.get('summary').errors">
                    <span *ngIf="createTicketForm.get('summary').errors.required">
                      Please enter the case's summary.
                    </span>
                    <span *ngIf="createTicketForm.get('summary').errors.minlength">
                      The case's summary length must not be shorter than 3 characters.
                    </span>
                    <span *ngIf="createTicketForm.get('summary').errors.maxlength">
                      The case's summary length must not be longer than 50 characters.
                    </span>
                  </span>
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createTicketForm.get('description').touched || 
                createTicketForm.get('description').dirty) &&
                !createTicketForm.get('description').valid }">
                  <label for="summary">Description</label>
                  <textarea class="form-control animation-1" style="resize:vertical;" rows="6" formControlName="description" id="description"
                    placeholder="Description"></textarea>
                    <span class="help-block" *ngIf="(createTicketForm.get('description').touched || 
                    createTicketForm.get('description').dirty) && 
                    createTicketForm.get('description').errors">
                      <span *ngIf="createTicketForm.get('description').errors.required">
                        Please enter the case's description.
                      </span>
                      <span *ngIf="createTicketForm.get('description').errors.minlength">
                        The case's description length must not be shorter than 50 characters.
                      </span>
                      <span *ngIf="createTicketForm.get('description').errors.maxlength">
                        The case's description length must not be longer than 200 characters.
                      </span>
                    </span>
                </div>
                <div class="form-group"  style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createTicketForm.get('workSheetBody').touched || 
                createTicketForm.get('workSheetBody').dirty) &&
                !createTicketForm.get('workSheetBody').valid }">
                  <label for="workSheetBody">Work Sheet</label>
                  <textarea class="form-control animation-1" style="resize:vertical;" rows="6" formControlName="workSheetBody" id="workSheetBody"
                    placeholder="Work Sheet"></textarea>
                    <span class="help-block" *ngIf="(createTicketForm.get('workSheetBody').touched || 
                    createTicketForm.get('workSheetBody').dirty) && 
                    createTicketForm.get('workSheetBody').errors">
                      <span *ngIf="createTicketForm.get('workSheetBody').errors.required">
                        Please enter the case's work sheet.
                      </span>
                      <span *ngIf="createTicketForm.get('workSheetBody').errors.minlength">
                        The case's work sheet length must not be shorter than 50 characters.
                      </span>
                    </span>
                </div>
                <div class="form-group">
                  <label for="assignee">Assignee</label>
                  <select class="form-control" id="assignee" formControlName="assignee">
                    <option *ngFor="let emp of getEmployees()">{{emp}}</option>
                  </select>
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': createTicketForm.get('priority').errors?.notSelected &&  (createTicketForm.get('priority').touched || 
                createTicketForm.get('priority').dirty)}">
                  <label for="priority">Priority</label>
                  <select class="form-control" id="priority" formControlName="priority">
                    <option *ngFor="let pl of priorityList">{{pl}}</option>
                  </select>
                  <div [ngClass]="{'has-error': createTicketForm.get('priority').errors?.notSelected &&  (createTicketForm.get('priority').touched || 
                  createTicketForm.get('priority').dirty)}">
                    <span class="help-block" *ngIf="createTicketForm.get('priority').errors?.notSelected &&  (createTicketForm.get('priority').touched || 
                    createTicketForm.get('priority').dirty)">
                        <span>
                          Please select a valid priority level.
                      </span>
                    </span>	
                    </div>
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': createTicketForm.get('category').errors?.notSelected &&  (createTicketForm.get('category').touched || 
                createTicketForm.get('category').dirty)}">
                  <label for="category">Category</label>
                  <select class="form-control" id="category" formControlName="category">
                    <option *ngFor="let category of categoryList">{{category}}</option>
                  </select>
                  <div [ngClass]="{'has-error': createTicketForm.get('category').errors?.notSelected &&  (createTicketForm.get('category').touched || 
                  createTicketForm.get('category').dirty)}">
                    <span class="help-block" *ngIf="createTicketForm.get('category').errors?.notSelected &&  (createTicketForm.get('category').touched || 
                    createTicketForm.get('category').dirty)">
                        <span>
                          Please select a valid category.
                      </span>
                    </span>	
                    </div>
                </div>
                <div class="form-group">
                  <label for="inputSDate">Due Date</label>
                  <div class="row" [ngClass]="{'has-error': dueDateInvalid}">
                    <div class="col-sm-4" [ngClass]="{'has-error': createTicketForm.get('dueDay').errors?.notSelected &&  (createTicketForm.get('dueDay').touched || 
                    createTicketForm.get('dueDay').dirty)}">
                      <select formControlName="dueDay" class="form-control" >
                        <option *ngFor="let day of dueDayOptions">{{day}}</option>
                      </select>
                      <div [ngClass]="{'has-error': createTicketForm.get('dueDay').errors?.notSelected &&  (createTicketForm.get('dueDay').touched || 
                      createTicketForm.get('dueDay').dirty)}">
                        <span class="help-block" *ngIf="createTicketForm.get('dueDay').errors?.notSelected &&  (createTicketForm.get('dueDay').touched || 
                        createTicketForm.get('dueDay').dirty)">
                            <span>
                              Please select a valid day.
                          </span>
                        </span>	
                        </div>
                        
                    </div>
                    <div class="col-sm-4" [ngClass]="{'has-error': createTicketForm.get('dueMonth').errors?.notSelected &&  (createTicketForm.get('dueMonth').touched || 
                    createTicketForm.get('dueMonth').dirty)}">
                      <select formControlName="dueMonth" #inputSD class="form-control" (change)="dueDayChange(inputSD.value,$event)">
                        <option *ngFor="let month of monthOptions">{{month}}</option>
                      </select>
                      <div [ngClass]="{'has-error': createTicketForm.get('dueMonth').errors?.notSelected &&  (createTicketForm.get('dueMonth').touched || 
                      createTicketForm.get('dueMonth').dirty)}">
                        <span class="help-block" *ngIf="createTicketForm.get('dueMonth').errors?.notSelected &&  (createTicketForm.get('dueMonth').touched || 
                        createTicketForm.get('dueMonth').dirty)">
                            <span>
                              Please select a valid month.
                          </span>
                        </span>	
                        </div>
                    </div>
                    <div class="col-sm-4" [ngClass]="{'has-error': createTicketForm.get('dueYear').errors?.notSelected &&  (createTicketForm.get('dueYear').touched || 
                    createTicketForm.get('dueYear').dirty)}">
                      <select formControlName="dueYear" class="form-control">
                        <option *ngFor="let year of yearOptions">{{year}}</option>
                      </select>
                      <div [ngClass]="{'has-error': createTicketForm.get('dueYear').errors?.notSelected &&  (createTicketForm.get('dueYear').touched || 
                      createTicketForm.get('dueYear').dirty)}">
                        <span class="help-block" *ngIf="createTicketForm.get('dueYear').errors?.notSelected &&  (createTicketForm.get('dueYear').touched || 
                        createTicketForm.get('dueYear').dirty)">
                            <span>
                              Please select a valid year.
                          </span>
                        </span>	
                        </div>
                    </div>
                    
                    <div [ngClass]="{'has-error': dueDateInvalid}">
                      <span class="help-block" *ngIf="dueDateInvalid">
                          <span>
                            Please select a valid due date.
                        </span>
                      </span>	
                      </div>
                  </div>

                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                  <label for="attachment">File Attachment(s)</label>
                  <input type="file" id="fileInput" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx" multiple>
                </div>

                <button type="submit" [disabled]="!createTicketForm.valid" class="btn btn-primary">Create</button>
              </form>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalClosed()">Close</button>
        </div>
      </div>

    </div>
  </div>