<div class='panel panel-primary'>
    <div class='panel-heading' style="height:50px;">
        <h3 style="padding:0px;margin:0px;">{{pageTitle}}</h3>
        
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
           
        
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='tickets && tickets.length'>
                  
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Summary</th>
                        <th>Assignee</th>
                        <th>Creator</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Last Updated</th>   
                        <th>Status</th>     
                        <th>Progress</th>                                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ticket of pagedItems'>
                        <td>
                            {{ticket.id}}
                        </td>
                        <td><a (click)="setSelectedTicket(ticket)">
                            {{ticket.summary}}
                            </a>
                        </td>
                        <td><div *ngIf="ticket.assignee">{{ ticket.assignee }}<span *ngIf="!ticket.acceptStatus && ticket.assignee != 'Unassigned'"> [Pending]</span></div></td>
                        <td>
                                <div *ngIf="ticket.creator">{{ ticket.creator }}</div>
                                <div *ngIf="ticket.creatorCustomerName">{{ ticket.creatorCustomerName }}</div>
                        </td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.dueDate | date:'shortDate'}}</td>
                        <td>{{ ticket.lastUpdated | date:'shortDate'}}</td>
                        <td> <div class="label" [ngClass]="{'label-danger': ticket.status == 'Closed', 'label-success': ticket.status == 'Open', 'label-warning': ticket.status == 'Reopened'}">{{ ticket.status}}</div></td>
                        <td>
                            <div class="progress">
                            <div class="progress-bar" [ngClass]="{'progress-bar-danger': ticket.progress < 20,'progress-bar-warning': ticket.progress >= 30  && ticket.progress < 50, 'progress-bar-primary': ticket.progress >= 50  && ticket.progress <= 99 , 'progress-bar-success': ticket.progress == 100}" role="progressbar" aria-valuenow="ticket.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="ticket.progress+'%'">
                                    {{ ticket.progress}}%
                            </div>
                            </div></td>
                        <td>
                            <a type="button" class="btn btn-primary" *ngIf="isUserLoggedIn" data-toggle="modal" data-target="#editModal" (click)="setSelectedTicket(ticket)">Edit</a>
                        </td>
                        <td>
                                <a class="btn btn-danger" *ngIf="isUserLoggedIn && !ticket.acceptStatus && validateTicketAssignee(ticket)" (click)="acceptTicket(ticket)">Accept</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div *ngIf='tickets?.length <= 0'>You don't have any current ticket(s) Yet!</div>
        </div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="display: flex;justify-content: center;">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>

<ticket-edit [selectedTicket]="selectedTicket" (ticketEdited)='onTicketEdit($event)'></ticket-edit>
<tickets-detail [ticket]="selectedTicket" (ticketClosed)='onTicketClosed($event)' [ticketDeleted]="ticketDeleted"></tickets-detail>


