<fieldset>
  <div class="col-sm-12"  *ngFor="let review of reviewList">            
   <div class="col-sm-12" >  
        <div class="row">
         <div class="col-sm-12" >  
            <div class="col-sm-9" style="font-size: 20px;"><strong>{{review.reviewerName}}</strong></div>
            <div class="col-sm-3" style="font-size: 20px;">
                <span class="pull-right" *ngIf="review.rating == 1">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                <span class="pull-right" *ngIf="review.rating == 2">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                <span class="pull-right" *ngIf="review.rating == 3">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                <span class="pull-right" *ngIf="review.rating == 4">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star-o"></em>
                </span>
                 <span class="pull-right" *ngIf="review.rating == 5">
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                    <em class="fa fa-star"></em>
                </span>
                
            </div>
            <div class="col-sm-12" style="font-size: 11px;color: gray;">Posted at: {{review.postedDateTime}}</div>
            <div class="col-sm-12" style="padding-top:3%">{{review.description}}</div>
            </div>
        </div>
        
     </div>    
     <div class="col-sm-12">  
            <hr class="hr-1 no-margin-top no-margin-bottom">
         </div>               
    </div>
    <div class="col-sm-12" style="text-align:center" *ngIf="!reviewList || reviewList?.length == 0">  
        There is no review for this ticket yet!
    </div>
</fieldset>