<div class='panel panel-primary'>
    <div class='panel-heading' style="height:50px;">
        <div class='pull-left'>
            <h3 style="padding:0px;margin:0px;">{{pageTitle}}</h3>
        </div>
        <div class='pull-right' style="margin-bottom:0px;" *ngIf="isUserLoggedIn">
            <button type="button" style="padding-bottom:3px;" class="btn btn-default btn-sm" (click)="export()">Export</button>
            <button style="padding-bottom:3px;" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createModal">
                <span class="icon-plus"> Add New Ticket</span>
            </button>
        </div>
    </div>
    <div class='panel-body' style="padding-top: 0px">

        <div class='row'>
            <div class='col-md-3'>
                <form [formGroup]="filterForm" class="form-horizontal" role="form" novalidate="">
                    <h4>Filtered by: </h4>
                    <div class="input-group">
                        <select class="form-control" formControlName="filterOption">
                            <option selected>Select Option</option>
                            <option>Today</option>
                            <option>Yesterday</option>
                            <option>This Month</option>
                            <option>All</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" tabindex="-1" (click)='filterTicket()'>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Filter</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class='table-responsive'>
            <table id="ticketList" class='table' *ngIf='tickets && tickets.length'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Summary</th>
                        <th>Assignee</th>
                        <th>Creator</th>
                        <th>Priority</th>
                        <th>Opened Date</th>
                        <th>Due</th>
                        <th>Status</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor='let ticket of pagedItems'>
                        <td>
                            {{ticket.id}}
                        </td>
                        <td>
                            <a (click)="setSelectedTicket(ticket)">
                                {{ticket.summary}}
                            </a>
                        </td>
                        <td>
                            <div *ngIf="ticket.assignee">{{ ticket.assignee }}
                                <span *ngIf="!ticket.acceptStatus"> [Pending]</span>
                            </div>
                            <div *ngIf="!ticket.assignee">Unassigned</div>
                        </td>
                        <td>
                                <div *ngIf="ticket.creator">{{ ticket.creator }}</div>
                                <div *ngIf="ticket.creatorCustomerName">{{ ticket.creatorCustomerName }}</div>
                        </td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.created | date:'shortDate'}}</td>
                        <td><div *ngIf="isTicketOverdue(ticket)" style="color:red;">{{ ticket.dueDate | date:'shortDate'}}</div><div *ngIf="!isTicketOverdue(ticket)">{{ ticket.dueDate | date:'shortDate'}}</div></td>
                        <td>
                            <div class="label" [ngClass]="{'label-danger': ticket.status == 'Closed', 'label-success': ticket.status == 'Open', 'label-warning': ticket.status == 'Reopened'}">{{ ticket.status}}</div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" [ngClass]="{'progress-bar-danger': ticket.progress < 20,'progress-bar-warning': ticket.progress >= 30  && ticket.progress < 50, 'progress-bar-primary': ticket.progress >= 50  && ticket.progress <= 99 , 'progress-bar-success': ticket.progress == 100}"
                                    role="progressbar" aria-valuenow="ticket.progress" aria-valuemin="0" aria-valuemax="100"
                                    [style.width]="ticket.progress+'%'">
                                    {{ ticket.progress}}%
                                </div>
                            </div>
                        </td>
                        <td>

                            <a type="button" class="btn btn-primary" *ngIf="isUserLoggedIn && isUserAdmin" data-toggle="modal" data-target="#editModal"
                                (click)="selectTicketToEdit(ticket)">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" *ngIf="isUserLoggedIn && isUserAdmin" (click)=deleteTicket(ticket.id)>Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf='pagedItems == undefined || pagedItems.length <= 0' style="text-align:center;margin-top:20px;">There aren't any tickets yet or there aren't any tickets created in the selected filter range!</div>
            <div style="display:none">
                <table id="allTicketList" class='table'>

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Summary</th>
                            <th>Assignee</th>
                            <th>Creator</th>
                            <th>Priority</th>
                            <th>Created/Opened Date</th>
                            <th>Due</th>
                            <th>Last Updated</th>
                            <th>Status</th>
                            <th>Category</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor='let ticket of tickets'>
                            <td>
                                {{ticket.id}}
                            </td>
                            <td>
                                <a>
                                    {{ticket.summary}}
                                </a>
                            </td>
                            <td>
                                <div *ngIf="ticket.assignee">{{ ticket.assignee }}
                                    <span *ngIf="!ticket.acceptStatus"> [Pending]</span>
                                </div>
                                <div *ngIf="!ticket.assignee">Unassigned</div>
                            </td>
                            <td>
                                    <div *ngIf="ticket.creator">{{ ticket.creator }}</div>
                                    <div *ngIf="ticket.creatorCustomerName">{{ ticket.creatorCustomerName }}</div>
                            </td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.created | date:'shortDate'}}</td>
                            <td><div *ngIf="isTicketOverdue(ticket)" style="color:red;">{{ ticket.dueDate | date:'shortDate'}}</div><div *ngIf="!isTicketOverdue(ticket)">{{ ticket.dueDate | date:'shortDate'}}</div></td>
                            <td>{{ ticket.lastUpdated | date:'shortDate'}}</td>
                            <td>{{ ticket.status}}</td>
                            <td>{{ ticket.category}}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar">
                                        {{ ticket.progress}}%
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="display: flex;justify-content: center;">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>



<create-ticket (ticketCreated)='onTicketCreated($event)'></create-ticket>
<ticket-edit [selectedTicket]="selectedTicket" (ticketEdited)='onTicketEdited($event)'></ticket-edit>

<tickets-detail [ticket]="selectedTicket" (ticketClosed)='onTicketClosed($event)' [ticketDeleted]="ticketDeleted"></tickets-detail>