<div class="panel">
    <tabset class="bg-white p0" [justified]="true">
        <tab>
            <ng-template tabHeading>
                <em class="fa fa-money fa-fw"></em>Detail
            </ng-template>
            <div style="padding-left:20px;margin:27px;">
                <div *ngIf="inputTicket && !ticketDeleted">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">ID:</div>
                                <div class="col-md-9">{{inputTicket.id}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Summary:</div>
                                <div class="col-md-9">{{inputTicket.summary}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Description:</div>
                                <div class="col-md-9" style="word-wrap: break-word;">{{inputTicket.description}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Creator:</div>
                                <div class="col-md-9" *ngIf="inputTicket.creator">{{inputTicket.creator}}</div>
                                <div class="col-md-9" *ngIf="inputTicket.creatorCustomerName">{{inputTicket.creatorCustomerName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Assignee:</div>
                                <div class="col-md-9" *ngIf="inputTicket.assignee">{{inputTicket.assignee}}</div>
                                <div class="col-md-9" *ngIf="!inputTicket.assignee">Unassigned</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Priority:</div>
                                <div class="col-md-9">{{inputTicket.priority}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Due Date:</div>
                                <div class="col-md-9">{{inputTicket.dueDate | date:'shortDate'}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Last Updated On:</div>
                                <div class="col-md-9">{{inputTicket.lastUpdated | date:'shortDate'}}  {{inputTicket.lastUpdated | date:'mediumTime'}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Created On:</div>
                                <div class="col-md-9">{{inputTicket.created | date:'shortDate'}}  {{inputTicket.created | date:'mediumTime'}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Status:</div>
                                <div class="col-md-9">{{inputTicket.status}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Category:</div>
                                <div class="col-md-9">{{inputTicket.category}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Progress:</div>
                                <div class="col-md-9">{{inputTicket.progress}}%</div>
                            </div>
                            <div class="row" *ngIf="inputTicket.status == 'Reopened'">
                                <div class="col-md-3">Reason for reopening:</div>
                                <div class="col-md-9">{{inputTicket.reasonForReopening}}</div>
                            </div>
                            <div class="row" *ngIf="inputTicket.status == 'Closed'">
                                <div class="col-md-3">Reason for Closing:</div>
                                <div class="col-md-9">{{inputTicket.reasonForClosing}}</div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-12"><strong>Work Sheet</strong></div>
                                <div class="col-md-12" style="word-wrap: break-word;">{{inputTicket.workSheetBody}}</div>
                               
                                <img  class="img-responsive center-block" style="width:300px;" src="{{imageUrl}}">
                               
                            </div>
                        </div>
                    </div>
                    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
                </div>
                <div *ngIf="!inputTicket || ticketDeleted"> Please select an ticket to view more information.</div>

            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <em class="fa fa-clock-o fa-fw"></em>Activity
            </ng-template>
            <div *ngIf="inputTicket && !ticketDeleted">
                <div class="panel-footer text-right" style="background-color: #e6e6e6;">
                    <button class="btn btn-default btn-sm" *ngIf="isUserPrivileged && inputTicket && inputTicket.status != 'Closed'" data-toggle="modal" data-target="#closeTicketModal">Close Selected Ticket </button>
                    
                </div>
                <br/>
                <br/>
                <ticketReply-Box [inputTicket]="inputTicket"></ticketReply-Box>
            </div>
            <div *ngIf="!inputTicket || ticketDeleted" style="padding-left:20px;margin:27px;"> Please select an ticket to view more information.</div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <em class="fa fa-clock-o fa-fw"></em>Customer Review
            </ng-template>
            <div>
                <br/>
                <br/>
                <reviewInternal-component [ticket]="ticket"></reviewInternal-component>
            </div>
        </tab>
        <!--tab>
            <ng-template tabHeading>
                <em class="fa fa-money fa-fw"></em>Related
            </ng-template>
            <div *ngIf="inputTicket && !ticketDeleted">

                <div class="panel-footer text-right">
                    <a class="btn btn-default btn-sm" href="#">View All Related Items</a>
                </div>
            </div>
            <div *ngIf="!inputTicket || ticketDeleted" style="padding-left:20px;margin:27px;"> Please select an ticket to view more information.</div>
        </tab-->
    </tabset>
</div>
<close-ticket [selectedTicket]="inputTicket" (ticketClosed)="onTicketClosed($event)"></close-ticket>