<div id="editModal" style="padding-top:50px;" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Edit Ticket</h4>
      </div>
      <div class="modal-body">
        <div class='panel-body'>
          <div class='row'>
            <div class='col-lg-12'>
              <form [formGroup]="editTicketForm" class="form-horizontal" role="form">

                <div class="form-group">
                  <label for="summary">Creator</label>
                  <input id="summary" placeholder="Creator" formControlName="creator" class="form-control" type="text" disabled/>
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': 
            editTicketForm.get('summary').errors }">
                  <label for="summary">Summary</label>
                  <input id="summary" placeholder="Summary" formControlName="summary" class="form-control" type="text" />
                  <span class="help-block" *ngIf="editTicketForm.get('summary').errors">
                    <span *ngIf="editTicketForm.get('summary').errors.required">
                      Please enter the case's summary.
                    </span>
                    <span *ngIf="editTicketForm.get('summary').errors.minlength">
                      The case's summary length must not be shorter than 3 characters.
                    </span>
                    <span *ngIf="editTicketForm.get('summary').errors.maxlength">
                      The case's summary length must not be longer than 50 characters.
                    </span>
                  </span>
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editTicketForm.get('description').touched || 
                editTicketForm.get('description').dirty) &&
                !editTicketForm.get('description').valid }">
                  <label for="summary">Description</label>
                  <textarea class="form-control animation-1" style="resize:vertical;" rows="6" formControlName="description" id="description"
                    placeholder="Description"></textarea>
                    <span class="help-block" *ngIf="(editTicketForm.get('description').touched || 
                    editTicketForm.get('description').dirty) && 
                    editTicketForm.get('description').errors">
                      <span *ngIf="editTicketForm.get('description').errors.required">
                        Please enter the case's description.
                      </span>
                      <span *ngIf="editTicketForm.get('description').errors.minlength">
                        The case's description length must not be shorter than 50 characters.
                      </span>
                      <span *ngIf="editTicketForm.get('description').errors.maxlength">
                        The case's description length must not be longer than 200 characters.
                      </span>
                    </span>
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editTicketForm.get('workSheetBody').touched || 
                editTicketForm.get('workSheetBody').dirty) &&
                !editTicketForm.get('workSheetBody').valid }">
                  <label for="workSheetBody">Work Sheet</label>
                  <textarea class="form-control animation-1" style="resize:vertical;" rows="6" formControlName="workSheetBody" id="workSheetBody"
                    placeholder="Work Sheet"></textarea>
                    <span class="help-block" *ngIf="(editTicketForm.get('workSheetBody').touched || 
                    editTicketForm.get('workSheetBody').dirty) && 
                    editTicketForm.get('workSheetBody').errors">
                      <span *ngIf="editTicketForm.get('workSheetBody').errors.required">
                        Please enter the case's work sheet.
                      </span>
                      <span *ngIf="editTicketForm.get('workSheetBody').errors.minlength">
                        The case's work sheet length must not be shorter than 50 characters.
                      </span>
                    </span>
                </div>

                <div class="form-group">
                  <label for="assignee">Assignee</label>
                  <select class="form-control" id="assignee" formControlName="assignee">
                    <option *ngFor="let emp of getEmployees()">{{emp}}</option>
                  </select>
                </div>
                <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': editTicketForm.get('priority').errors?.notSelected &&  (editTicketForm.get('priority').touched || 
                editTicketForm.get('priority').dirty)}">
                  <label for="priority">Priority</label>
                  <select class="form-control" id="priority" formControlName="priority">
                    <option *ngFor="let pl of priorityList">{{pl}}</option>
                  </select>
                  <span class="help-block" *ngIf="editTicketForm.get('priority').errors?.notSelected &&  (editTicketForm.get('priority').touched || 
                  editTicketForm.get('priority').dirty)">
                      <span>
                        Please select a valid priority level.
                    </span>
                  </span>	
                </div>
                <div class="form-group" [ngClass]="{'has-error': editTicketForm.get('category').errors?.notSelected &&  (editTicketForm.get('category').touched || 
                editTicketForm.get('category').dirty)}">
                  <label for="category">Category</label>
                  <select class="form-control" id="category" formControlName="category">
                    <option *ngFor="let category of categoryList">{{category}}</option>
                  </select>
                  <span class="help-block" *ngIf="editTicketForm.get('category').errors?.notSelected &&  (editTicketForm.get('category').touched || 
                  editTicketForm.get('category').dirty)">
                      <span>
                        Please select a valid category.
                    </span>
                  </span>	
                </div>
                <div class="form-group">
                  <label for="inputSDate">Due Date</label>
                  <div class="row" [ngClass]="{'has-error': dueDateInvalid}">
                    <div class="col-sm-4" [ngClass]="{'has-error': editTicketForm.get('dueDay').errors?.notSelected &&  (editTicketForm.get('dueDay').touched || 
                    editTicketForm.get('dueDay').dirty)}">
                      <select formControlName="dueDay" class="form-control" >
                        <option *ngFor="let day of dueDayOptions">{{day}}</option>
                      </select>
                      <span class="help-block" *ngIf="editTicketForm.get('dueDay').errors?.notSelected &&  (editTicketForm.get('dueDay').touched || 
                      editTicketForm.get('dueDay').dirty)">
                          <span>
                            Please select a valid day.
                        </span>
                      </span>	
                    </div>
                    <div class="col-sm-4" [ngClass]="{'has-error': editTicketForm.get('dueMonth').errors?.notSelected &&  (editTicketForm.get('dueMonth').touched || 
                    editTicketForm.get('dueMonth').dirty)}">
                      <select formControlName="dueMonth" #inputSD class="form-control" (change)="dueDayChange(inputSD.value,$event)">
                        <option *ngFor="let month of monthOptions">{{month}}</option>
                      </select>
                      <span class="help-block" *ngIf="editTicketForm.get('dueMonth').errors?.notSelected &&  (editTicketForm.get('dueMonth').touched || 
                      editTicketForm.get('dueMonth').dirty)">
                          <span>
                            Please select a valid month.
                        </span>
                      </span>	
                    </div>
                    <div class="col-sm-4" [ngClass]="{'has-error': editTicketForm.get('dueYear').errors?.notSelected &&  (editTicketForm.get('dueYear').touched || 
                    editTicketForm.get('dueYear').dirty)}">
                      <select formControlName="dueYear" class="form-control">
                        <option *ngFor="let year of yearOptions">{{year}}</option>
                      </select>
                      <span class="help-block" *ngIf="editTicketForm.get('dueYear').errors?.notSelected &&  (editTicketForm.get('dueYear').touched || 
                      editTicketForm.get('dueYear').dirty)">
                          <span>
                            Please select a valid year.
                        </span>
                      </span>	
                    </div>
                    <div [ngClass]="{'has-error': dueDateInvalid}">
                      <span class="help-block" *ngIf="dueDateInvalid">
                          <span>
                            Please select a valid due date.
                        </span>
                      </span>	
                      </div>
                  </div>

                </div>
                <div class="form-group" [ngClass]="{'has-error': editTicketForm.get('progress').errors?.notInRange &&  (editTicketForm.get('progress').touched || 
                editTicketForm.get('progress').dirty)}">
                  <label for="progress">Progress</label>
                  <input id="progress" placeholder="Progress" formControlName="progress" class="form-control" type="number" />
                  <span class="help-block" *ngIf="editTicketForm.get('progress').errors?.notInRange &&  (editTicketForm.get('progress').touched || 
                  editTicketForm.get('progress').dirty)">
                      <span>
                        Ticket's progress should be in the range of 0 to 100.
                    </span>
                  </span>	
                </div>

                <button type="submit" (click)="editTicket($event)" class="btn btn-primary" [disabled]="editTicketForm.invalid">Edit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>

  </div>
</div>