<fieldset>
    <div id="responseForm" name="responseForm" class="form-group" [formGroup]="responseForm" (submit)="saveResponse(responseForm)">
        <label for="inputName" class="col-sm-1 control-label">
            <img alt="Avatar" class="img-thumbnail img-square pull-right" src="assets/img/activity_avatar.png">
        </label>
        <div class="col-sm-11">
            <div class="input-group">
                <span class="input-group-addon" style="border:0px;padding:0px;">
                    <select style="width:100px;" class="form-control" id="responseType" formControlName="responseType">
                        <option selected>Type</option>
                        <option>Public</option>
                        <option>Private</option>
                    </select>
                </span>
                <input type="responseBody" formControlName="responseBody" class="form-control" id="responseBody" placeholder="Enter Your Response Here">
            </div>
        </div>
        <div class="pull-right" style="position:relative;min-height:1px;padding-top:15px;padding-right:15px;">
            <button class="btn btn-info" type="submit" *ngIf="!editResponse" (click)="saveResponse()">Submit</button>
            <button class="btn btn-danger" type="submit" *ngIf="editResponse" (click)="editTicketReply()">Edit</button>
        </div>
    </div>
    <div class="col-sm-12">
        <hr class="hr-1 no-margin-top no-margin-bottom">
    </div>
    <div class="col-sm-12" *ngFor="let ticketReply of replies">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a (click)="editButtonClicked(ticketReply)" *ngIf="validateCommentPoster(ticketReply.postedUserName)">Edit </a>
                        <span *ngIf="validateCommentPoster(ticketReply.postedUserName)"> | </span>
                        <a (click)="deleteButtonClicked(ticketReply)" *ngIf="validateCommentPoster(ticketReply.postedUserName)">Delete</a>
                    </div>
                    <div class="col-sm-8" style="font-size: 20px;">
                        <strong>{{ticketReply.postedUserName}}</strong>
                    </div>
                    <div class="col-sm-12" style="font-size: 11px;color: gray;">Posted at: {{ticketReply.postedDateTime}}</div>
                    <div class="col-sm-12" style="padding-top:3%">{{ticketReply.responseBody}}</div>
                </div>
            </div>

        </div>
        <div class="col-sm-12">
            <hr class="hr-1 no-margin-top no-margin-bottom">
        </div>
    </div>

    <div class="col-sm-12" style="text-align:center" *ngIf="!replies || replies.length == 0">
        There is no replies for this ticket yet!
    </div>
</fieldset>