<div id="createEmployeeModal" style="padding-top:50px;" class="modal fade" data-backdrop="false" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Employee</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <form class="form-horizontal" novalidate [formGroup]="createEmployeeForm">
                                <fieldset>
                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('firstName').touched || 
                                                createEmployeeForm.get('firstName').dirty) &&
                                                !createEmployeeForm.get('firstName').valid }">
                                        <label class="col-md-3 control-label" for="firstNameId">First Name</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)" formControlName="firstName"
                                            />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('firstName').touched || 
                                                           createEmployeeForm.get('firstName').dirty) && 
                                                           createEmployeeForm.get('firstName').errors">
                                                <span *ngIf="createEmployeeForm.get('firstName').errors.required">
                                                    Please enter user's first name.
                                                </span>
                                                <span *ngIf="createEmployeeForm.get('firstName').errors.minlength">
                                                    The first name must be longer than 3 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('lastName').touched || createEmployeeForm.get('lastName').dirty) && !createEmployeeForm.get('lastName').valid }">
                                        <label class="col-md-3 control-label" for="lastNameId">Last Name</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="lastNameId" type="text" placeholder="Last Name (required)" formControlName="lastName" />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('lastName').touched || createEmployeeForm.get('lastName').dirty) && createEmployeeForm.get('lastName').errors">
                                                <span *ngIf="createEmployeeForm.get('lastName').errors.required">
                                                    Please enter user's last name.
                                                </span>
                                                <span *ngIf="createEmployeeForm.controls.lastName.errors.maxlength">
                                                    The last name must be less than 50 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div formGroupName="emailGroup" [ngClass]="{'has-error': createEmployeeForm.get('emailGroup').errors }">

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': emailMessage}">
                                            <label class="col-md-3 control-label" for="emailId">Email</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email" />
                                                <span class="help-block" *ngIf="emailMessage">
                                                    {{ emailMessage }}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('emailGroup.confirmEmail').touched || 
                                                    createEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                                                    !createEmployeeForm.get('emailGroup.confirmEmail').valid }">
                                            <label class="col-md-3 control-label" for="confirmEmailId">Confirm Email</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="confirmEmailId" type="email" placeholder="Confirm Email (required)" formControlName="confirmEmail"
                                                />
                                                <span class="help-block" *ngIf="(createEmployeeForm.get('emailGroup.confirmEmail').touched || 
                                                              createEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                                                              (createEmployeeForm.get('emailGroup.confirmEmail').errors ||
                                                               createEmployeeForm.get('emailGroup').errors)">
                                                    <span *ngIf="createEmployeeForm.get('emailGroup.confirmEmail').errors?.required">
                                                        Please confirm the email address.
                                                    </span>
                                                    <span *ngIf="createEmployeeForm.get('emailGroup').errors?.match">
                                                        The confirmation does not match the email address.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('userRole').touched || createEmployeeForm.get('userRole').dirty) && !createEmployeeForm.get('userRole').valid }">
                                        <label class="col-md-3 control-label" for="userRoleId">User Role</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="userRoleId" type="text" placeholder="User Role (required)" formControlName="userRole" />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('userRole').touched || createEmployeeForm.get('userRole').dirty) && createEmployeeForm.get('userRole').errors">
                                                <span *ngIf="createEmployeeForm.get('userRole').errors.required">
                                                    Please enter user's role.
                                                </span>
                                                <span *ngIf="createEmployeeForm.controls.userRole.errors.maxlength">
                                                    The user role must be less than 20 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div formGroupName="passwordGroup" [ngClass]="{'has-error': createEmployeeForm.get('passwordGroup').errors }">

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('passwordGroup.password').touched || 
                  createEmployeeForm.get('passwordGroup.password').dirty) && 
                  !createEmployeeForm.get('passwordGroup.password').valid }">
                                            <label class="col-md-3 control-label" for="passwordId">Account Password</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="passwordId" type="password" placeholder="Account Password (required)" formControlName="password"
                                                />
                                                <span class="help-block" *ngIf="(createEmployeeForm.get('passwordGroup.password').touched || 
                         createEmployeeForm.get('passwordGroup.password').dirty) && 
                         (createEmployeeForm.get('passwordGroup.password').errors ||
                          createEmployeeForm.get('passwordGroup').errors)">
                                                    <span *ngIf="createEmployeeForm.get('passwordGroup.password').errors?.required">
                                                        Please re-enter the password.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('passwordGroup.reenteredPassword').touched || 
                                           createEmployeeForm.get('passwordGroup.reenteredPassword').dirty) && 
                                           !createEmployeeForm.get('passwordGroup.reenteredPassword').valid }">
                                            <label class="col-md-3 control-label" for="reenteredPasswordId">Re-Enter Email</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="reenteredPasswordId" type="password" placeholder="Re-Enter Password (required)" formControlName="reenteredPassword"
                                                />
                                                <span class="help-block" *ngIf="(createEmployeeForm.get('passwordGroup.reenteredPassword').touched || 
                                                     createEmployeeForm.get('passwordGroup.reenteredPassword').dirty) && 
                                                     (createEmployeeForm.get('passwordGroup.reenteredPassword').errors ||
                                                      createEmployeeForm.get('passwordGroup').errors)">
                                                    <span *ngIf="createEmployeeForm.get('passwordGroup.reenteredPassword').errors?.required">
                                                        Please re-enter the password.
                                                    </span>
                                                    <span *ngIf="createEmployeeForm.get('passwordGroup').errors?.match">
                                                        The re-entered does not match the password.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                        <label for="departmentName" class="col-md-3 control-label">Department</label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="departmentName" formControlName="departmentName">
                                                <option *ngFor="let department of getDepartments()">{{department}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('supervisor').touched || createEmployeeForm.get('supervisor').dirty) && !createEmployeeForm.get('supervisor').valid }">
                                        <label class="col-md-3 control-label" for="supervisorId">Supervisor</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="supervisorId" type="text" placeholder="Supervisor (required)" formControlName="supervisor"
                                            />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('supervisor').touched || createEmployeeForm.get('supervisor').dirty) && createEmployeeForm.get('supervisor').errors">
                                                <span *ngIf="createEmployeeForm.get('supervisor').errors.required">
                                                    Please enter his/hers supervisor.
                                                </span>
                                                <span *ngIf="createEmployeeForm.controls.supervisor.errors.maxlength">
                                                    The supervisor's name must be less than 50 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('profession').touched || createEmployeeForm.get('profession').dirty) && !createEmployeeForm.get('profession').valid }">
                                        <label class="col-md-3 control-label" for="professionId">Profession</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="professionId" type="text" placeholder="Profession (required)" formControlName="profession"
                                            />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('profession').touched || createEmployeeForm.get('profession').dirty) && createEmployeeForm.get('profession').errors">
                                                <span *ngIf="createEmployeeForm.get('profession').errors.required">
                                                    Please enter his/hers profession.
                                                </span>
                                                <span *ngIf="createEmployeeForm.controls.profession.errors.maxlength">
                                                    The employee's profession must be less than 30 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('yearsInActive').touched || 
                                                createEmployeeForm.get('yearsInActive').dirty) && 
                                                !createEmployeeForm.get('yearsInActive').valid }">
                                        <label class="col-md-3 control-label" for="yearsInActiveId">Years In Active</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="yearsInActiveId" type="number" formControlName="yearsInActive" />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('yearsInActive').touched 
                                                           || createEmployeeForm.get('yearsInActive').dirty) && 
                                                           createEmployeeForm.get('yearsInActive').errors">
                                                <span *ngIf="createEmployeeForm.get('yearsInActive').errors.range">
                                                    The amount of years which indicates how much years that the employee's has been active should be in the range of 1 to 80.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('levelofEdu').touched || createEmployeeForm.get('levelofEdu').dirty) && !createEmployeeForm.get('levelofEdu').valid }">
                                        <label class="col-md-3 control-label" for="levelofEduId">Level of Education</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="levelofEduId" type="text" placeholder="Level of Education (required)" formControlName="levelofEdu"
                                            />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('levelofEdu').touched || createEmployeeForm.get('levelofEdu').dirty) && createEmployeeForm.get('levelofEdu').errors">
                                                <span *ngIf="createEmployeeForm.get('levelofEdu').errors.required">
                                                    Please enter his/hers level of education.
                                                </span>
                                                <span *ngIf="createEmployeeForm.controls.levelofEdu.errors.maxlength">
                                                    The employee's level of education must be less than 50 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (createEmployeeForm.get('nrc').touched || createEmployeeForm.get('nrc').dirty) && !createEmployeeForm.get('nrc').valid }">
                                        <label class="col-md-3 control-label" for="nrcId">NRC</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="nrcId" type="text" placeholder="NRC Number (required)" formControlName="nrc" />
                                            <span class="help-block" *ngIf="(createEmployeeForm.get('nrc').touched || createEmployeeForm.get('nrc').dirty) && createEmployeeForm.get('nrc').errors">
                                                <span *ngIf="createEmployeeForm.get('nrc').errors.required">
                                                    Please enter his/hers nrc number.
                                                </span>
                                                <span *ngIf="createEmployeeForm.controls.nrc.errors.maxlength">
                                                    The employee's nrc number must be less than 30 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>



                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                        <div class="col-md-12 col-md-offset-3">
                                            <span>
                                                <button class="btn btn-primary" type="button" [disabled]="!degrees.valid" (click)="addDegree()">
                                                    Add Another Degree
                                                </button>
                                                <button class="btn btn-primary" type="button" [disabled]="!certificates.valid" (click)="addCertificate()">
                                                    Add Another Certificate
                                                </button>
                                            </span>
                                        </div>
                                    </div>


                                    <div formArrayName="certificates" *ngFor="let certificate of certificates.controls; let i=index">
                                        <div [formGroupName]="i">


                                            <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                                <label class="col-md-3 control-label" attr.for="{{'certificateId' + i}}">Certificate</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="{{'certificateId' + i}}" placeholder="Certificate" formControlName="name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div formArrayName="degrees" *ngFor="let degree of degrees.controls; let i=index">
                                        <div [formGroupName]="i">


                                            <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                                <label class="col-md-3 control-label" attr.for="{{'degreeId' + i}}">Degree</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="{{'degreeId' + i}}" placeholder="Degree" formControlName="name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group" style="padding-top:3px;padding-bottom:3px;">
                                        <div class="col-md-4 col-md-offset-2">
                                            <span>
                                                <button class="btn btn-primary" type="button" [disabled]="!createEmployeeForm.valid" (click)="createEmployee()">
                                                    Create
                                                </button>
                                            </span>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="formReset()">Close</button>
                </div>
            </div>

        </div>
    </div>