<div class="panel">
    <tabset class="bg-white p0" [justified]="true">
        <tab>
            <ng-template tabHeading>
                <em class="fa fa-money fa-fw"></em>Detail
            </ng-template>
            <div style="padding-left:20px;margin:27px;">
                <div *ngIf="inputEmployee && !employeeDeleted">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">ID:</div>
                                <div class="col-md-9">{{inputEmployee.id}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">First Name:</div>
                                <div class="col-md-9">{{inputEmployee.firstName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Last Name:</div>
                                <div class="col-md-9" style="word-wrap: break-word;">{{inputEmployee.lastName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Email:</div>
                                <div class="col-md-9">{{inputEmployee.email}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">User Role:</div>
                                <div class="col-md-9">{{inputEmployee.userRole}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Department ID:</div>
                                <div class="col-md-9">{{inputEmployee.employeeDetail.departmentId}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Department Name:</div>
                                <div class="col-md-9">{{getDepartmentName(inputEmployee.employeeDetail.departmentId)}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Supervisor:</div>
                                <div class="col-md-9">{{inputEmployee.employeeDetail.supervisor}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Profession:</div>
                                <div class="col-md-9">{{inputEmployee.employeeDetail.profession}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Years In Active:</div>
                                <div class="col-md-9">{{inputEmployee.employeeDetail.yearsInActive}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Level of Education:</div>
                                <div class="col-md-9">{{inputEmployee.employeeDetail.levelofEducation}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">NRC:</div>
                                <div class="col-md-9">{{inputEmployee.employeeDetail.NRC}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Degrees:</div>
                                <div class="col-md-9"><p *ngFor="let degree of inputEmployee.degrees">{{degree.name}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Certificates:</div>
                                <div class="col-md-9"><p *ngFor="let certificate of inputEmployee.certificates">{{certificate.name}}</p></div>
                            </div>
                        </div>
                    </div>
                    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
                </div>
                <div *ngIf="!inputEmployee || employeeDeleted"> Please select an employee to view more information.</div>

            </div>
        </tab>
    </tabset>
</div>