<div class='panel panel-primary'>
    <div class='panel-heading' style="height:50px;">
        <div class='pull-left'><h3 style="padding:0px;margin:0px;">{{pageTitle}}</h3></div>
        <div class='pull-right' style="margin-bottom:0px;" *ngIf="isUserLoggedIn"> 
                <button style="padding-bottom:3px;" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createEmployeeModal" >
                        <span class="icon-plus"> Add New Employee</span>
                      </button>
        </div>
    </div>

   
    <div class='panel-body'>
           
       
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

       

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='employees && employees.length'>
                  
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Employee Name</th>
                        <th>User Role</th>
                        <th>Title</th>
                        <th>Email address</th>
                        <th>Years In Active</th>
                        <th>Department ID</th>   
                        <th>Level of Education</th>                                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let employee of employees'>
                        <td>
                            {{employee.id}}
                        </td>
                        <td><a (click)="setSelectedEmployee(employee)">
                            {{employee.firstName + " " + employee.lastName}}
                            </a>
                        </td>
                        <td>{{employee.userRole}}</td>
                        <td>{{employee.employeeDetail.profession}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.employeeDetail.yearsInActive + " Years"}} </td>
                        <td>{{employee.employeeDetail.departmentId}}</td>
                        <td>{{employee.employeeDetail.levelofEducation}}</td>
                        <td> 
                            <a type="button" class="btn btn-primary" *ngIf="isUserLoggedIn && isUserAdmin" data-toggle="modal" data-target="#editEmployeeModal" (click)="setSelectedEmployee(employee)">Edit</a>
                        </td>
                        <td>
                                <a class="btn btn-danger" *ngIf="isUserLoggedIn && isUserAdmin" (click)="deleteEmployee(employee.id)">Delete</a>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<create-employee (employeeCreated)="onEmployeeCreated($event)"></create-employee>
<edit-employee [selectedEmployee]="selectedEmployee" (employeeEdited)="onEmployeeEdited($event)"></edit-employee>

<employee-detail [employee]="selectedEmployee" [employeeDeleted]="employeeDeleted"></employee-detail>