<div id="editEmployeeModal" style="padding-top:50px;" class="modal fade" data-backdrop="false" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="formReset()">&times;</button>
                <h4 class="modal-title">Edit Employee</h4>
            </div>
            <div class="modal-body">
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <form class="form-horizontal" novalidate [formGroup]="editEmployeeForm">
                                <fieldset>
                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('firstName').touched || 
                                                editEmployeeForm.get('firstName').dirty) &&
                                                !editEmployeeForm.get('firstName').valid }">
                                        <label class="col-md-3 control-label" for="editFirstNameId">First Name</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editFirstNameId" type="text" placeholder="First Name (required)" formControlName="firstName"
                                            />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('firstName').touched || 
                                                           editEmployeeForm.get('firstName').dirty) && 
                                                           editEmployeeForm.get('firstName').errors">
                                                <span *ngIf="editEmployeeForm.get('firstName').errors.required">
                                                    Please enter user's first name.
                                                </span>
                                                <span *ngIf="editEmployeeForm.get('firstName').errors.minlength">
                                                    The first name must be longer than 3 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('lastName').touched || editEmployeeForm.get('lastName').dirty) && !editEmployeeForm.get('lastName').valid }">
                                        <label class="col-md-3 control-label" for="editLastNameId">Last Name</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editLastNameId" type="text" placeholder="Last Name (required)" formControlName="lastName"
                                            />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('lastName').touched || editEmployeeForm.get('lastName').dirty) && editEmployeeForm.get('lastName').errors">
                                                <span *ngIf="editEmployeeForm.get('lastName').errors.required">
                                                    Please enter user's last name.
                                                </span>
                                                <span *ngIf="editEmployeeForm.controls.lastName.errors.maxlength">
                                                    The last name must be less than 50 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div formGroupName="emailGroup" [ngClass]="{'has-error': editEmployeeForm.get('emailGroup').errors }">

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': emailMessage}">
                                            <label class="col-md-3 control-label" for="editEmailId">Email</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="editEmailId" type="email" placeholder="Email (required)" formControlName="email" />
                                                <span class="help-block" *ngIf="emailMessage">
                                                    {{ emailMessage }}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('emailGroup.confirmEmail').touched || 
                                                    editEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                                                    !editEmployeeForm.get('emailGroup.confirmEmail').valid }">
                                            <label class="col-md-3 control-label" for="editConfirmEmailId">Confirm Email</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="editConfirmEmailId" type="email" placeholder="Confirm Email (required)" formControlName="confirmEmail"
                                                />
                                                <span class="help-block" *ngIf="(editEmployeeForm.get('emailGroup.confirmEmail').touched || 
                                                              editEmployeeForm.get('emailGroup.confirmEmail').dirty) && 
                                                              (editEmployeeForm.get('emailGroup.confirmEmail').errors ||
                                                               editEmployeeForm.get('emailGroup').errors)">
                                                    <span *ngIf="editEmployeeForm.get('emailGroup.confirmEmail').errors?.required">
                                                        Please confirm the email address.
                                                    </span>
                                                    <span *ngIf="editEmployeeForm.get('emailGroup').errors?.match">
                                                        The confirmation does not match the email address.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('userRole').touched || editEmployeeForm.get('userRole').dirty) && !editEmployeeForm.get('userRole').valid }">
                                        <label class="col-md-3 control-label" for="editUserRoleId">User Role</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editUserRoleId" type="text" placeholder="User Role (required)" formControlName="userRole"
                                            />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('userRole').touched || editEmployeeForm.get('userRole').dirty) && editEmployeeForm.get('userRole').errors">
                                                <span *ngIf="editEmployeeForm.get('userRole').errors.required">
                                                    Please enter user's role.
                                                </span>
                                                <span *ngIf="editEmployeeForm.controls.userRole.errors.maxlength">
                                                    The user role must be less than 20 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div formGroupName="passwordGroup" [ngClass]="{'has-error': editEmployeeForm.get('passwordGroup').errors }">

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('passwordGroup.password').touched || 
                  editEmployeeForm.get('passwordGroup.password').dirty) && 
                  !editEmployeeForm.get('passwordGroup.password').valid }">
                                            <label class="col-md-3 control-label" for="editPasswordId">Account Password</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="editPasswordId" type="password" placeholder="Account Password (required)" formControlName="password"
                                                />
                                                <span class="help-block" *ngIf="(editEmployeeForm.get('passwordGroup.password').touched || 
                         editEmployeeForm.get('passwordGroup.password').dirty) && 
                         (editEmployeeForm.get('passwordGroup.password').errors ||
                          editEmployeeForm.get('passwordGroup').errors)">
                                                    <span *ngIf="editEmployeeForm.get('passwordGroup.password').errors?.required">
                                                        Please re-enter the password.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('passwordGroup.reenteredPassword').touched || 
                                           editEmployeeForm.get('passwordGroup.reenteredPassword').dirty) && 
                                           !editEmployeeForm.get('passwordGroup.reenteredPassword').valid }">
                                            <label class="col-md-3 control-label" for="editReenteredPasswordId">Re-Enter Email</label>

                                            <div class="col-md-9">
                                                <input class="form-control" id="editReenteredPasswordId" type="password" placeholder="Re-Enter Password (required)" formControlName="reenteredPassword"
                                                />
                                                <span class="help-block" *ngIf="(editEmployeeForm.get('passwordGroup.reenteredPassword').touched || 
                                                     editEmployeeForm.get('passwordGroup.reenteredPassword').dirty) && 
                                                     (editEmployeeForm.get('passwordGroup.reenteredPassword').errors ||
                                                      editEmployeeForm.get('passwordGroup').errors)">
                                                    <span *ngIf="editEmployeeForm.get('passwordGroup.reenteredPassword').errors?.required">
                                                        Please re-enter the password.
                                                    </span>
                                                    <span *ngIf="editEmployeeForm.get('passwordGroup').errors?.match">
                                                        The re-entered does not match the password.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                        <label for="editDepartmentName" class="col-md-3 control-label">Department</label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="editDepartmentName" formControlName="departmentName">
                                                <option *ngFor="let department of getDepartments()">{{department}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('supervisor').touched || editEmployeeForm.get('supervisor').dirty) && !editEmployeeForm.get('supervisor').valid }">
                                        <label class="col-md-3 control-label" for="editSupervisorId">Supervisor</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editSupervisorId" type="text" placeholder="Supervisor (required)" formControlName="supervisor"
                                            />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('supervisor').touched || editEmployeeForm.get('supervisor').dirty) && editEmployeeForm.get('supervisor').errors">
                                                <span *ngIf="editEmployeeForm.get('supervisor').errors.required">
                                                    Please enter his/hers supervisor.
                                                </span>
                                                <span *ngIf="editEmployeeForm.controls.supervisor.errors.maxlength">
                                                    The supervisor's name must be less than 50 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('profession').touched || editEmployeeForm.get('profession').dirty) && !editEmployeeForm.get('profession').valid }">
                                        <label class="col-md-3 control-label" for="editProfessionId">Profession</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editProfessionId" type="text" placeholder="Profession (required)" formControlName="profession"
                                            />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('profession').touched || editEmployeeForm.get('profession').dirty) && editEmployeeForm.get('profession').errors">
                                                <span *ngIf="editEmployeeForm.get('profession').errors.required">
                                                    Please enter his/hers profession.
                                                </span>
                                                <span *ngIf="editEmployeeForm.controls.profession.errors.maxlength">
                                                    The employee's profession must be less than 30 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('yearsInActive').touched || 
                                                editEmployeeForm.get('yearsInActive').dirty) && 
                                                !editEmployeeForm.get('yearsInActive').valid }">
                                        <label class="col-md-3 control-label" for="editYearsInActiveId">Years In Active</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editYearsInActiveId" type="number" formControlName="yearsInActive" />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('yearsInActive').touched 
                                                           || editEmployeeForm.get('yearsInActive').dirty) && 
                                                           editEmployeeForm.get('yearsInActive').errors">
                                                <span *ngIf="editEmployeeForm.get('yearsInActive').errors.range">
                                                    The amount of years which indicates how much years that the employee's has been active should be in the range of 1 to 80.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('levelofEdu').touched || editEmployeeForm.get('levelofEdu').dirty) && !editEmployeeForm.get('levelofEdu').valid }">
                                        <label class="col-md-3 control-label" for="editLevelofEduId">Level of Education</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editLevelofEduId" type="text" placeholder="Level of Education (required)" formControlName="levelofEdu"
                                            />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('levelofEdu').touched || editEmployeeForm.get('levelofEdu').dirty) && editEmployeeForm.get('levelofEdu').errors">
                                                <span *ngIf="editEmployeeForm.get('levelofEdu').errors.required">
                                                    Please enter his/hers level of education.
                                                </span>
                                                <span *ngIf="editEmployeeForm.controls.levelofEdu.errors.maxlength">
                                                    The employee's level of education must be less than 50 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;" [ngClass]="{'has-error': (editEmployeeForm.get('nrc').touched || editEmployeeForm.get('nrc').dirty) && !editEmployeeForm.get('nrc').valid }">
                                        <label class="col-md-3 control-label" for="editNrcId">NRC</label>

                                        <div class="col-md-9">
                                            <input class="form-control" id="editNrcId" type="text" placeholder="NRC Number (required)" formControlName="nrc" />
                                            <span class="help-block" *ngIf="(editEmployeeForm.get('nrc').touched || editEmployeeForm.get('nrc').dirty) && editEmployeeForm.get('nrc').errors">
                                                <span *ngIf="editEmployeeForm.get('nrc').errors.required">
                                                    Please enter his/hers nrc number.
                                                </span>
                                                <span *ngIf="editEmployeeForm.controls.nrc.errors.maxlength">
                                                    The employee's nrc number must be less than 30 characters.
                                                </span>
                                            </span>
                                        </div>
                                    </div>



                                    <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                        <div class="col-md-12 col-md-offset-3">
                                            <span>
                                                <button class="btn btn-primary" type="button" [disabled]="!degrees.valid" (click)="addDegree()">
                                                    Add Another Degree
                                                </button>
                                                <button class="btn btn-primary" type="button" [disabled]="!certificates.valid" (click)="addCertificate()">
                                                    Add Another Certificate
                                                </button>
                                            </span>
                                        </div>
                                    </div>


                                    <div formArrayName="certificates" *ngFor="let certificate of certificates.controls; let i=index">
                                        <div [formGroupName]="i">


                                            <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                                <label class="col-md-3 control-label" attr.for="{{'editCertificateId' + i}}">Certificate</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="{{'editCertificateId' + i}}" placeholder="Certificate" formControlName="name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div formArrayName="degrees" *ngFor="let degree of degrees.controls; let i=index">
                                        <div [formGroupName]="i">


                                            <div class="form-group" style="padding-top:12px;padding-bottom:12px;">
                                                <label class="col-md-3 control-label" attr.for="{{'editDegreeId' + i}}">Degree</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="{{'editDegreeId' + i}}" placeholder="Degree" formControlName="name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group" style="padding-top:3px;padding-bottom:3px;">
                                        <div class="col-md-4 col-md-offset-2">
                                            <span>
                                                <button class="btn btn-primary" type="button"  (click)="editEmployee()">
                                                    Edit
                                                </button>
                                            </span>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="formReset()">Close</button>
                </div>
            </div>

        </div>
    </div>