

<router-outlet></router-outlet>
<div id="overlay" *ngIf="loading">
    
    <img  class="img-responsive center-block" style="width:90px;justify-content: center;margin-top:20%;" src="/assets/img/loadingIndicator.svg">
    <h4 style="justify-content: center;">Loading..</h4>
</div>